<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="../public/css/normalize.css">
        <title>Core Mattresses</title>
    </head>

<body>

  <header class="header">
    <div class="header-banner">
        <div class="nav-bar">

            <a class="logo" href="../index.html"><h2>CORE |<span> Mattresses</span></h2></a>

            <div class="header-burgermenu">
                <i class="fas fa-align-justify"></i>
            </div>

            <ul>
                <li><a href="#products">COLCHONES</a></li>
                <li><a href="#bases">BASES</a></li>
                <li><a href="ontacto.html">CONTACTO</a></li>
                <li><a href="nosotros.html">QUIENES SOMOS</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Tienes alguna duda<br> contactate con<br> nosotros!</h1>
        </div>
    </div>

</header>   

<main class="main-ContactUs">
    <div class="contactUs">
      <div class="tittle">
        <h2>Contact Us</h2>
      </div>
      <div class="box">
        <div class="contact form">
          <h3>Enviar Mensaje</h3>
          <form>
            <div class="formBox">
              <div class="row50">
                <div class="inputBox">
                  <span>Nombre</span>
                  <input type="text" placeholder="Nombre">
                </div>

                <div class="inputBox">
                  <span>Apellido</span>
                  <input type="text" placeholder="Apellido">
                </div>
              </div>

              <div class="row50">
                <div class="inputBox">
                  <span>Email</span>
                  <input type="text" placeholder="Nombre">
                </div>

                <div class="inputBox">
                  <span>Telefeno</span>
                  <input type="text" placeholder="Apellido">
                </div>
              </div>

              <div class="row100">
                <div class="inputBox">
                  <span>Mensaje</span>
                  <textarea placeholder="Coloca el mensaje aqui"></textarea>
                </div>
              </div>

              <div class="row100">
                <div class="inputBox">
                    <input type="submit" value="Send">
                </div>
              </div>

            </div>
          </form>
        </div>

        <div class="contact info">
          <h3>Informacion Contacto</h3>
          <div class="infoBox">
            <div>
              <span><i class="fas fa-map-marker-alt"></i></span>
              <p>Ricardo Rojas, Cordoba <br> ARGENTINA</p>
            </div>
            <div>
              <span><i class="fas fa-envelope"></i></span>
              <a href="#">correo@correo.com</a>
            </div>
            <div>
              <span><i class="fas fa-phone"></i></span>
              <a href="#">+54 9 351 2151998</a>
            </div>
            <ul class="redes">
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></i></a></li>
            </ul>
          </div>
        </div>
        <div class="contact map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3407.7956460439505!2d-64.28406298433548!3d-31.337016299553873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94329c3a9f8eda17%3A0x8b33044cd0d2730f!2sAv.%20Ricardo%20Rojas%2C%20C%C3%B3rdoba%2C%20Argentina!5e0!3m2!1ses-419!2sus!4v1644773138097!5m2!1ses-419!2sus" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>


</main>

<footer class="footer">
  <div class="footer_contenedor">
      <p>¡Suscribite para enterarte de las actualizaciones y obtener descuentos en nuestros productos!</p>
      <input class="email" type="email" placeholder="email">
      <input class="submit" type="submit" value="sign up">
  </div>
</footer> 
</body>
</html>