<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="../public/css/normalize.css">
        <title>Sobre Nosotros</title>
    </head>

<body>

    <header class="header">
        <div class="header-banner">
            <div class="nav-bar">

                <a class="logo" href="../index.html"><h2>CORE |<span> Mattresses</span></h2></a>

                <div class="header-burgermenu">
                    <i class="fas fa-align-justify"></i>
                </div>

                <ul>
                    <li><a href="#products">COLCHONES</a></li>
                    <li><a href="#bases">BASES</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                    <li><a href="nosotros.html">QUIENES SOMOS</a></li>
                </ul>
            </div>

            <div class="content">
                <h1>Bienvenido<br> a <br> Core Mattresses</h1>
            </div>
        </div>

    </header>      

<main>

    <section class="about">

        <div class="about_contenedor">


            <div class="contenedor_img">
                <img src="../public/img/about.png" alt="">
            </div>

            <div class="contenedor_text">
                <h1>Somos <span>Core</span></h1>
                <p>Proponemos innovar la producción de sistemas de 
                    descanso, mejorarla, hacerla sostenible e inteligente. 
                    Nuestro objetivo es combinar tecnología e innovación 
                    en prestaciones con la practicidad y simplicidad de 
                    los colchones enrollados.</p>
            </div>

            

        </div>

    </section>


    <section class="about2">
        <div class="about2_contenedor">
            
            <div class="about2_text">
                <h2>¿Cómo transformamos el tiempo que pasamos durmiendo en tiempo de descanso?</h2>
                <p>Diseñamos nuestros productos de manera integral. En 
                    otras palabras, no sólo es imprescindible enfocarse en 
                    la comodidad y conveniencia de nuestros productos, 
                    sino también en hacerte la vida más sencilla.</p>
            </div>

            <div class="about2_img">
                <img src="../public/img/photo1.png" alt="">
            </div>

        </div>

    </section>


    <section class="bases">

        <div class="bases-img">
            <img src="../public/img/Base.png">
        </div>

            <div class="bases-contenedor">
                <i class="fas fa-leaf"></i>
                <h3 class="bases-contenedor-title">NUESTRAS BASES</h3>
                <p class="bases-contenedor-paragraph">Incorporamos bases de cartón que ofrecen 
                    las mismas ventajas y soporte que otro tipo 
                    de bases. Al ser ecológicas, ayuda a reducir 
                    significativamente el impacto de nuestra 
                    producción en el medio ambiente.</p>
            </div>
        
    </section>

    <section class="tecnologias">

        <h3 class="tecnologias-title">NUESTRAS TECNOLOGÍAS</h3>

        <div class="tecnologias-contenedor">

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item1.png" alt="Imagen caracteristica">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>MEMORY FOAM</h4>
                    <p>Espuma diseñada para amoldarse al cuerpo de cada uno. </p>
                </div>

            </div>

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item2.png" alt="Imagen caracteristica">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>PUROTEX®</h4>
                    <p>Reduce en un 93,7 % la cantidad de alérgenos de ácaros.</p>
                </div>
                
            </div>

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item3.png" alt="Imagen caracteristica">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>BAMBOO®</h4>
                    <p>Barrera natural contra las bacterias e incremento de la absorción de humedad.</p>
                </div>
                
            </div>

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item4.png" alt="Imagen caracteristica">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>ADAPTIVE®</h4>
                    <p>Con respuesta dinámica generando un ambiente fresco y seco.</p>
                </div>
                
            </div>

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item5.png" alt="Imagen caracteristica">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>SANITIZED®</h4>
                    <p>Previene bacterias y hongos, elimina manchas y olores y repele los ácaros del polvo.</p>
                </div>
                
            </div>

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item6.png" alt="Imagen caracteristica">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>TENCEL™</h4>
                    <p>Tela orgánica que brinda frescura y protección.</p>
                </div>
                
            </div>

        </div>

    </section>


</main>

<footer class="footer">
    <section class="about">
        <div class="about__cotainer">
                <div class="heading">
                      <h4>About Core</h4>
                      <p>Somos una empresa con Certificado B. Eso manifiesta nuestro compromiso con los más altos estándares en  materia de desempeño social y ambiental, transparencia y responsabilidad corporativa. Consideramos nuestro trabajo una contribución para alcanzar un mundo más inclusivo y ecológicamente sostenible.</p>
                </div>
                <ul class="social_icons">
                      <li><a href="#."><i class="fab fa-facebook"></i></a></li>
                      <li><a href="#."><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#."><i class="fab fa-tumblr"></i></a></li>
                      <li><a href="#."><i class="fab fa-youtube"></i></a></li>
                      <li><a href="#."><i class="fab fa-dribbble"></i></a></li>
                </ul>
        </div>
    </section>
</footer>
</body>
</html>