<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="../public/css/normalize.css">
        <title>Core Mattresses</title>
    </head>

<body>

    <header class="header">
        <div class="header-banner">
            <div class="nav-bar">

                <a class="logo" href="../index.html"><h2>CORE |<span> Mattresses</span></h2></a>

                <div class="header-burgermenu">
                    <i class="fas fa-align-justify"></i>
                </div>

                <ul>
                    <li><a href="#products">COLCHONES</a></li>
                    <li><a href="#bases">BASES</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                    <li><a href="nosotros.html">QUIENES SOMOS</a></li>
                </ul>
            </div>

            <div class="content">
                <h1>Bienvenido<br> a <br> Core Mattresses</h1>
            </div>
        </div>

    </header>  

<main>

    <section class="store">

        <div class="store_contenedor">

            <div class="store_img">
                <img src="../public/img/Producto2.png" alt="Producto2">
            </div>

            <div class="store_contenido">

               <div class="contenido_info">
                    <div class="store_nav"><a href="index.html">HOME /</a><a href="producto.html">PRODUCTO 2</a></div>
                    <h1 class="store_title title-balance">PRODUCTO 2</h1>
                    <p class="store_text balance_text">El equilibrio perfecto entre alta calidad y una solución natural.</p>
                    <div class="selectores">
                        <div class="selector1">
                            <span>ALTURA</span>
                            <select name="altura" class="altura">
                                <option value="25 cm">25 cm</option>
                                <option value="30 cm">30 cm</option>
                            </select>
                        </div>

                        <div class="selector2">
                            <span>TAMAñO</span>
                            <select name="side" class="side">
                                <option value="Twin">OPCION 1</option>
                                <option value="Full">OPCION 2</option>
                                <option value="Queen">OPCION 3</option>
                                <option value="King">OPCION 4</option>
                            </select>
                        </div>
                    </div>

                        <a class="fancy" href="#">
                            <span class="top-key"></span>
                            <span class="text">Comprar</span>
                            <span class="bottom-key-1"></span>
                            <span class="bottom-key-2"></span>
                          </a>
                </div>
            </div>
        </div>

    </section>




    <section class="tecnologias">

        <h3 class="tecnologias-title">TECNOLOGÍAS DEL PRODUCTO 2</h3>

        <div class="tecnologias-contenedor">

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item1.png" alt="">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>Caracteristica</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque necessitatibus.</p>
                </div>

            </div>

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item2.png" alt="">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>Caracteristica</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque necessitatibus.</p>
                </div>
                
            </div>

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item3.png" alt="">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>Caracteristica</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque necessitatibus.</p>
                </div>
                
            </div>

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item4.png" alt="">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>Caracteristica</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque necessitatibus.</p>
                </div>
                
            </div>

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item5.png" alt="">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>Caracteristica</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque necessitatibus.</p>
                </div>
                
            </div>

            <div class="tecnologias-card">

                <div class="tecnologias-card-img">
                    <img src="../public/img/item6.png" alt="">
                </div>

                <div class="tecnologias-contenedor-descripcion">
                    <h4>Caracteristica</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque necessitatibus.</p>
                </div>
                
            </div>

        </div>

    </section>

    <section class="especificaciones">
        <h4 class="especificaciones_title">ESPECIFICACIONES</h4>
        <div class="especificaciones_contenedor">
            
            <div class="especificaciones_info">
                <h5>medidas</h5>
                <p>Twin</p>
                <p>Full</p>
                <p>Queen</p>
                <p>King</p>
            </div>

            <div class="especificaciones_info">
                <h5>CONSTRUCCIÓN</h5>
                <p>Compuesto por 3 capas:</p>
                <p>- 3 cm Memory Foam: especialmente diseñada para adaptarse al cuerpo</p>
                <p>- 3 cm Soft Foam: densidad media, soporte fundamental
                </p>
                <p>- 14 cm HD Foam: alta densidad, resistencia y estabilidad máxima</p>
            </div>
            <div class="especificaciones_info">
                <h5>Sensación</h5>
                <p>Mid-Firm</p>
            </div>
          
        </div>
    </section>

</main>
 <footer class="footer">
        <section class="about">
            <div class="about__cotainer">
                  <div class="heading">
                      <h4>About Core</h4>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora, quod, minima illum perspiciatis inventore adipisci reiciendis iure deleniti magnam cum suscipit laboriosam officia accusantium eveniet distinctio atque omnis eos soluta!</p>
                  </div>
                  <ul class="social_icons">
                      <li><a href="#."><i class="fab fa-facebook"></i></a></li>
                      <li><a href="#."><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#."><i class="fab fa-tumblr"></i></a></li>
                      <li><a href="#."><i class="fab fa-youtube"></i></a></li>
                      <li><a href="#."><i class="fab fa-dribbble"></i></a></li>
                    </ul>
            </div>
          </section>
    </footer> 
</body>
</html>