$marron:#362706;
$verde:#464E2E;
$verdeClaro:#ACB992;
$blanco:#E9E5D6;


.aboutUs{
    background: rgb(255, 255, 255);
}

.about{
    width: 100%;
    text-align: center;
    padding: 1rem;
    
}

.about_contenedor{
    width: 100%;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
    align-items:center;
    gap: 6rem;
}
@media (min-width: 768px) { 
    .about_contenedor{
        width: 100%;
        text-align: center;
        padding: 1rem;
        display: grid;
        grid-template-columns:50% 40%;
        column-gap: 4rem;
    }
}
.contenedor_text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
   
}
.contenedor_text{
    h1{
        text-transform: uppercase;
        font-size: 4.2rem;
        font-weight: bold;
        color: $marron;
        letter-spacing: .3rem;
    }
}
.contenedor_text {
    span{
        letter-spacing: .3rem;
        color: $marron;
    }
}

.contenedor_text{
    p{
        font-size: 1.7rem;
        font-weight: 600;
        color: $verde;
    }
}
.contenedor_img{
    width: 80%;
    min-width:400px;
    margin: 0 auto;
    overflow: hidden;
}

.about2{
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
}

.about2_contenedor{
    width: 90%;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
}
@media (min-width: 768px) { 
    .about2_contenedor{
        width: 90%;
        text-align: center;
        padding: 1rem;
        display: grid;
        grid-template-columns:50% 40%;
        column-gap: 4rem;
        margin: 0 auto;
    }
}
.about2_img{
    width: 90%;
    min-width:300px;
    overflow: hidden;
}
@media (min-width: 768px) { 
    .about2_img{
        width: 100%;
    
    }
}
.about2_img{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
}
.about2_text{
    width: 90%;
    padding: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 5rem auto; */
}
.about2_text{
    h2{
        font-size: 2.5rem;
        color: #064635;
        text-align: center;
        margin-bottom: 1rem;
    }
}
.about2_text{
    p{
        font-size: 1.7rem;
        color: #0b353f;
        font-weight: 500;
        text-align: center;
    }
}